{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        compojure/compojure {:mvn/version "1.7.0"}
        ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        ring/ring-json {:mvn/version "0.5.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        unixsocket-http/unixsocket-http {:mvn/version "1.0.12"}
        ;; need one logger impl for k8s-api and jetty
        org.slf4j/slf4j-simple {:mvn/version "1.7.21"}
        ;; timbre
        com.taoensso/timbre {:mvn/version "5.1.2"}
        org.eclipse.jetty/jetty-unixsocket {:mvn/version "9.4.48.v20220622"}}
 :aliases {:jetty
           {:main-opts ["-m" "backend.handler"]}}}
